.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem !important;
  margin: 0 auto;
  margin-top: 4rem;
}

.services-box {
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 1rem;
  border-radius: 0.3rem;
  margin: 0 auto;
  height: 600px;
}

.services-box img{
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.service-info {
  text-align: start;
  margin-left: 2rem;
  font-weight: 500;
}

.book-btn{
  width: 115px;
  height: 45px;
  background: #1b4388;
  background: linear-gradient(25deg, #1b4388 0%, #1e90c2 100%);
  border-radius: 5px;
  color: #fff;
  border: none;
  margin: 0 auto;
  font-size: 22px;
  cursor: pointer;
}

.book-btn:hover{
  background: #1e90c2;
  background: linear-gradient(25deg, #1e90c2 0%, #1b4388 100%);
}

hr{
  border: 2px solid #1b4388;
  width: 10%;
  margin: 0 auto;
  border-radius: 1rem;
}


@media screen and (max-width: 490px) {
  .services {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    margin: 0 auto;
    margin-top: 4rem;
    width: 100%;
    margin-bottom: 4rem;
  }
  hr{
    width: 30%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 776px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin: 0 auto;
    margin-top: 4rem;
    width: 100%;
    margin-bottom: 4rem;
  }
  .services-box{
    width: 105%;
  }

  #explore{
    padding: 0 0;
  }
}
@media screen and (min-width: 992px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .services-box{
    width: 100%;
  }
}
